body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}

.main-heading {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.recipe-list {
    list-style-position: inside;
    display: table;
    margin: 0 auto;
    width: 500px;
    height: auto;
    color: darkorchid;
}
